.greet-card{
    background-color: #243a73;
    color: white;
}
.stock-card{
    background-color: #a5becc;
    color: #413F42;
    height: 85px;
}
.AQbtn{
    background-color: #243a73;
    color: white;
}